.intro(style="display: none")
  h1 Passably The Box
  p Borsake the Base, come out

  button.btn(onClick="document.querySelector('canvas').dispatchEvent(new Event('introDone'))")
    | Press <strong>This</strong> Button
